[submodule "auto"]
	path = auto
	url = https://github.com/lu-w/auto.git
[submodule "owlready2_augmentator"]
	path = owlready2_augmentator
	url = https://github.com/lu-w/owlready2-augmentator.git
[submodule "src/pyauto/auto"]
	path = src/pyauto/auto
	url = https://github.com/lu-w/auto.git
